@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;;
  font-size: 18px;
  background-color: #D9DBF1;
}


