footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #EAF0CE;
    height: 100px;
    padding-bottom: 20px;
    align-items: flex-end;

}

footer > div {
    padding: 10px;
}


