
/************************** HEADER **************************/

.up-header  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f7f5f5;
    padding: 30px;
  } 

.logo > img {
  width: 150px;
  border-radius: 12px;
  
}  

.form #placeholder{
  font-size: 18px;
}

.form #button-submit {
  font-weight: bold;
  background-color: #5987CC;
  border: 1px solid #e0e2e4;
  color: #fff;
  box-sizing: border-box;
  min-height: 30px;
  min-width: 95px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  text-align: center;

}

button {
  font-weight: bold;
  background-color: #5987CC;
  border: 1px solid #e0e2e4;
  color: #fff;
  box-sizing: border-box;
  min-height: 30px;
  min-width: 95px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  text-align: center;



}


  
  
  