
/************************** HEADER **************************/

.up-header  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f7f5f5;
    padding: 30px;
  
  } 


.logo > img {
  width: 180px;
  border-radius: 12px;
  
}  

.form #placeholder{
  font-size: 26px;
  background-color: #fff;
  border: solid 1px #e0e2e4;
  border-radius: 4px;
  color: #505254;
  font-size: 16px;
  margin: 20px 0  20px;
  padding: 12px 14px;
  width: 300px;
  -webkit-appearance: none;
}

.form #button-submit {
  font-weight: bold;
  background-color: #5987CC;
  border: 1px solid #e0e2e4;
  color: #fff;
  box-sizing: border-box;
  min-height: 44px;
  min-width: 95px;
  padding: 0 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  text-align: center;
  cursor: pointer;
  
}

.logout > a {
  color: #505254;
  font-size: 14px;
}





@media only screen and (max-width: 767px) {

  .up-header {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
  }
  .logo > img {
    width: 200px;
    margin: 40px;
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 0px;

  }


  .form input{
    display: flex; 
    flex-direction: column;
  }


  

  .form #placeholder{
    font-size: 26px;
    background-color: #fff;
    border: solid 1px #e0e2e4;
    border-radius: 4px;
    color: #505254;
    font-size: 16px;
    margin: 10px;
    padding: 12px 14px;
    width: 300px;
    -webkit-appearance: none;
  }

  .form #button-submit {
    font-size: 26px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
    padding: 12px 14px;
    width: 300px;
    -webkit-appearance: none;

  }

  .logout  {
    padding: 6px;
    margin-bottom: 20px;
    text-align: center 


  }



 













}


  
  
  