
/************************** HEADER **************************/

.up-header  {
    display: flex;
    justify-content: space-around;
    background: #D0CDD7;
    border: 2px solid  black;
    padding: 30px;
  } 

.logo > img {

  width: 150px;
  
}  

button {
    background-color:hsl(220, 25%, 50%);
    border: 0;
    color: white;
    font-size: 1rem;
    padding: .3em 1em;
    transition-property: all;
    transition-duration: 0.5s;
 }

button:hover {

    background-color: hsl(0, 50%, 50%);
    border-radius: 1em;



}
  
  
  