

/************************** MAIN **************************/


/************************** HEADER **************************/

.up-header  {
  display: flex;
  justify-content: space-around;
  background: #D0CDD7;
  border: 2px solid  black;
  padding: 30px;
} 









/********************************* MAIN *************************/

main {
  background-color: #416165;
}
.films {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 8em;
  
}

.films div {

  display: flex;
  justify-content: space-evenly;

}

.films img {
  align-items: auto;

}


/******************************** FOOTER *******************************/








/************************** HEADER **************************/