/*********************************** NAV *******************************/

nav {
    background-color: #f7f5f5;
    padding: 2px;
    width: 100%;
  }
  
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }
  
.nav-links {
    padding: 10px 50px;
  }
  
.navbar-item > a{
    transition: all 0.3s ease 0s;
    text-decoration: none;;
    }
  
.navbar-item > a:hover{
    color: #1B1B1E;
    }
  

@media only screen and (max-width: 767px) {

.nav-links {


  font-size: 16px;
}

  }
  
  