/*********************************** NAV *******************************/

nav {
    background-color: #f7f5f5;
    padding: 2px;
    width: 100%;
  }
  
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding: 10px 50px;

  }
  
.navbar-item > a{
  color: #2E294E;
  transition: all 0.3s ease 0s;
  text-decoration: none;;
}


.navbar-item > a:hover{
  color: #F46036;
  cursor: pointer;
  }
  

@media only screen and (max-width: 767px) {

.nav-links {
  font-size: 16px;
 
  }

}
  





/* ****************************************** IPHONE 6/7 && IPHONE X ********************** */

@media only screen and (max-width: 375px) {
  
  .nav-links {
    font-size: 14px;
    }



}