/*********************************** NAV *******************************/

nav {
    background-color: #f7f5f5;
    padding: 2px;
    width: 100%;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-links {
    padding: 10px 50px;
  }
  
  .navbar-item > a{
    transition: all 0.3s ease 0s;
    text-decoration: none;;
    }
  
  .navbar-item > a:hover{
    color: #5987CC;
    }
  
  
  