@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*, *:before, *:after{
    box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;;
  font-size: 18px;
  background-color: #D9DBF1;
}


/************************** LOGIN **************************/

.login {
    background-color: #f7f5f5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

.login-logo {
    display: -ms-flexbox;
    display: flex;
    height: 25vh;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100px;
    -ms-flex-order: 1;
    order: 1;
}

.login-icon {
    background-image: url(../img/logo.png);
    background-size: cover;
    border-radius: 12px;
    margin: auto 0 44px;
    height: 110px;
    width: 168px;
}


.login-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-order: 2;
    order: 2;
}

.login-form {
    box-sizing: content-box;
    -ms-flex-pack: center;
    justify-content: center;
    width: 366px;
    background-color: #fff;
    border: solid 1px #e0e2e4;
    border-radius: 4px;
    padding: 37px 52px;
}

.login-label {
    display: block;
    height: 18px;
    margin-bottom: 8px;
    width: 100%;
    color: #909294;
    cursor: default;
    font-size: 10px;
    letter-spacing: 1.1px;
    line-height: 1.5;
    text-align: left;
    text-transform: uppercase;
}

.login-input {
    background-color: #fff;
    border: solid 1px #e0e2e4;
    border-radius: 4px;
    color: #505254;
    font-size: 16px;
    margin: 8px 0 20px;
    padding: 12px 14px;
    width: 364px;
    -webkit-appearance: none;
}

.form-options {
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #909294;
}

.form-link:visited {
    color: #505254;
}
.form-link {
    color: #505254;
    font-size: 14px;
}


.form-button {
    font-weight: bold;
    background-color: #5987CC;
    border: 1px solid #e0e2e4;
    box-sizing: border-box;
    min-height: 30px;
    min-width: 95px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    text-align: center;
}

.button-text {
  color: #fff;
}


@media only screen and (max-width: 767px) {

  .login-logo {
    height: 32vh;
  }

  .login-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85vw;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .login-label {
    display: none;
  }

  .login-input:first-of-type {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .login-input {
      margin: 0;
      padding: 12px 10px;
      width: calc(85vw - 1px * 2);
      font-size: 18px;
  }

  .form-options {
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-button {
    margin: 0 0 30px;
    width: 100%;
  }

}


/************************** MAIN **************************/


/************************** HEADER **************************/

.up-header  {
  display: flex;
  justify-content: space-around;
  background: #D0CDD7;
  border: 2px solid  black;
  padding: 30px;
} 







/*********************************** NAV *******************************/

nav {
  background-color: #ACB0BD;
  padding: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  padding: 10px 50px;
}

.navbar-item a{
  transition: all 0.3s ease 0s;
  text-decoration: none;;
  }

.navbar-item a:hover{
  color: #0B3948;
  }




/********************************* MAIN *************************/

main {
  background-color: #416165;
}
.films {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 8em;
  
}

.films div {

  display: flex;
  justify-content: space-evenly;

}

.films img {
  align-items: auto;

}


/******************************** FOOTER *******************************/








/************************** HEADER **************************/