.tooltip {

    width: 280px;
    height: 380px;
    background-color: #FB5607;
    color: black;
    text-align: center;
    margin-top: 00px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    
}



.tooltip:hover  {
    visibility: visible;
    opacity: 1;
}

.tooltip ul li {
      text-align: left;

  }


@media only screen and (max-width: 767px) {
  

    .tooltip{
        width: 280px;
        height: 380px;
        font-size: 14px;
    }


}

